@media screen and (max-width: 800px) {

    .nav-left img {
        width: 150px;
    }
    .nav-right ul {
        display: none;
    }
    nav {
        padding: 0px 20px 0px 10px;
    }
    .nav-right button {
        font-size: 13px;
        padding: 10px 18px;

    }
    .hamburger-container {
        display: block;
    }
    .main1 {
        flex-direction: column;
    }
    .main-section-left {
        font-size: 15px;
        width: 100%;
        padding: 0px 20px;
        margin-top: 10px;
        height: auto;
    }
    .main-section-left h1 {
        text-align: center;
        font-weight: 600;
    }
    .main-section-left h2 {
        text-align: center;
        font-size: 15px;
    }




    .main2-section1 {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .left-container {
        grid-template-columns:1fr 1fr;
        height: 100%;
        width: 100%;
        gap: 20px;
        /* justify-items: center; */
    }
    .left-container .item {
        font-size: 17px;
        /* width: 50%; */
    }
    .left-container .item img {
        width: 10%;
    }
    .main-section-right  {
        width: 100%;
        padding: 0px 20px;
        height: auto;
    }
    .main-section-right .cont1 {
        height: auto;
        padding-bottom: 30px;
    }
    .main-section-right h1  {
        font-size: 25px;
    }
    .cont2 {
        grid-template-columns: 1fr;
        height: auto;
    }
    .schedule-demo {
        font-size: 15px;
    }
    .main2 {
        padding-left: 0px;
    }
    .main2-section2 {
        width: 100%;
        padding: 0px 10px;
        margin-left: 0px;
    }
    .main2-section2 h1 {
        font-size: 25px;
        /* padding-left: 20px; */
        text-align: center;
    }
    .section2-item {
        width: 100%;
        flex-direction: column;
    }
    .sec2-item-left {
        display: flex;
        justify-content: center;
    }
    .sec2-item-right {
        text-align: center;
    }
    .sec2-item-right > div {
        font-size: 20px;
        text-align: start;
        padding: 0px 20px;
    }
    .sec2-item-right > p {
        font-size: 27px;
        padding: 0px 20px;
    }
    .main-3-grid {
        grid-template-columns: 1fr;
    }
    .main-3-container {
        width: 100%;
    }
    .main3 {
        /* margin-top: 50px; */
        padding: 50px 10px;
    }
    .main-3-container h1 {
        padding-left: 0px;
        font-size: 25px;
    }
    .main4 {
        /* margin-top: 50px; */
        padding: 50px 10px;
    }
    .main-4-container {
        width: 100%;
    }
    .main5 {
        /* margin-top: 50px; */
        padding: 50px 10px;
    }
    .main-5-container {
        width: 100%;
    }
    .main-5-container h1 {
        font-size: 27px;
    }
    .main-5-container h2 {
        padding: 0px 20px;
        font-size: 15px;
    }
    .main-5-grid {
        padding: 0px 20px;
        grid-template-columns: 1fr;
    }
    .main-5grid2 {
        padding: 0px 20px;
    }
    .cont3-2 {
        padding: 0px 20px;
    }
    .main6 {
        /* margin-top: 50px; */
        padding: 50px 10px;
    }
    .main-6-container {
        width: 100%;
    }
    .main-6-container h1 {
        font-size: 30px;
    }
    .main-6-grid {
        padding: 0px 20px;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .grid-6-2 {
        /* direction:ltr; */
    }
    .item-6-2-top {
        grid-row: 2;
    }
    .item-6-2-bottom {
        grid-row: 1;
    }
    footer {
        flex-direction: column;
        height: auto;
    }
    .footer-left {
        width: 100%;
        padding: 0px 12px;
        padding-top: 20px;
    }
    .footer-right {
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    .footer-left img {
        width: 50%;
    }
}
