* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: sans-serif;
}
nav {
    display: flex;
    padding: 0px 20px 0px 20px;
    background-color: #eaeaea;
    width: 100%;

}
.nav-left {
    height: 100px;
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.nav-right {
    height: 100px;
    width: 60%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}
.nav-left img {
    width: 300px;
}
.nav-right ul {
    display: flex;
    gap: 20px;
    font-family: sans-serif;
    color: gray;
    font-size: 20px;
}
.hamburger-container {
    display: none;

}
.hamburger {
    height: 25px;
    width: 30px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.hamburger .line {
    height: 3px;
    width: 100%;
    background-color: gray;
}
.nav-right button {
    color: blue;
    border: none;
    font-size: 20px;
    padding: 15px 50px;
    background-color: white;
    border-radius: 50px;
}
.main1 {
    display: flex;
    background-color: #eaeaea;

}
.main-section-left {
    height: 600px;
    width: 50%;
    /* border: 1px solid red; */
    color: rgb(0, 0, 209);
    font-size: 30px;
    padding-left: 40px;
    margin-top: 60px;
    box-sizing: border-box;
}
.main-section-left h1 {
    font-weight: 500;
}

.main-section-left h2 {
    font-size: 25px;
    color: gray;
    font-weight: 300;
    margin-top: 20px;
}
.left-container {
    height: 200px;
    width: 550px;
    /* border: 1px solid blue; */
}
.left-container {
    font-size: 23px;
    color: rgb(96, 100, 117);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* border: 1px solid blue; */
}
.left-container .item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    /* border: 1px solid red; */
}
.left-container .item img{
    width: 20%;
}

.main-section-right {
    padding-right: 40px;
    margin-top: 60px;
    height: 500px;
    width: 50%;
    /* border: 1px solid red; */
    /* background-color: rgb(16, 28, 54); */
}
.main-section-right .cont1 {
    height: 500px;
    width: 100%;
    background-color: #162341;
    border-radius: 10px;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-section-right h1 {
    font-size: 45px;
    color: white;
    font-weight: 300;
    text-align: center;
}
.cont2 {
    height: 200px;
    width: 80%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    justify-items: center;
    align-content: center;
    gap: 30px;
    margin-top: 20px;

}
.cont2-item {
    height: 60px;
    width: 95%;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 20px;
}
.cont3 {
    /* border: 1px solid red; */
    width: 80%;
    padding: 0px 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cont3 label {
    color: white;
    font-size: 18px;
}
.cont3 label span {
    color: rgb(255, 221, 0);
    font-weight: 600;
}
#check {
    height: 20px;
    width: 20px;
    background-color: #162341;
    accent-color: #162341;
    border-radius: 5px;
    border: 2px solid white;
}
.cont4 {
    /* height: 20px; */
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.schedule-demo {
    font-size: 25px;
    font-family: sans-serif;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    color: #162341;
    /* height: 40px; */
    /* width: 60px; */
}
.main2 {
    /* height: 500px; */
    width: 100%;
    /* border: 1px solid green; */
    padding-left: 50px;
    background-color: #f5f5f5;

}
.main2-section1 {
    /* height: 200px; */
    width: 60%;
    /* border: 1px solid red; */
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    row-gap: 25px;
}
.section1-item {
    height: 230px;
    width: 270px;
    /* border: 1px solid blue; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding-bottom: 15px;
}
.section1-item > p {
    color: blue;
    font-size: 22px;
}
.section1-item > div {
    color: gray;
    font-size: 18px;
    line-height: 1.5;
}
.main2-section2 {
    width: 59%;
    /* border: 1px solid red; */
    padding-left: 50px;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
}
.main2-section2 > h1 {
    /* margin-top: 30px; */
    padding-top: 40px;
    color: blue;
    font-size: 50px;
}
.section2-item {
    display: flex;
    width: 95%;
    border-radius: 10px;
    padding: 10px 0px;
    gap: 20px;
    margin-top: 20px;
    /* border: 1px solid red; */
    box-shadow: 5px 5px 10px  #e4e4e4;

}
.sec2-item-left img {
    width: 200px;
}
.sec2-item-right p {
    color: blue;
    font-size: 30px;
    margin-top: 30px;
}
.sec2-item-right {
}
.sec2-item-right > div {
    margin-top: 10px;
    color: gray;
    font-size: 20px;
    line-height: 1.6;
}

.main3 {
    /* border: 1px solid red; */
    /* height: 200px; */
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 60px;
}
.main-3-container {
    width: 59%;
    border-radius: 10px;
    /* border: 1px solid blue; */
    background-color: white;
    padding-top: 30px;
}
.main-3-container h1 {
    font-size: 45px;
    color: blue;
    /* padding-left: 50px; */
    text-align: center;
}
.main-3-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    
}
.main-3-item img {
    /* height: 200px; */
    width: 220px;
    /* height: 200px; */
    /* border: 1px solid red; */
}
.main4 {
    /* border: 1px solid red; */
    /* height: 200px; */
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 60px;
}
.main-4-container {
    text-align: center;
    width: 59%;
    border-radius: 10px;
    /* border: 1px solid blue; */
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main-4-container h1 {
    font-size: 45px;
    color: blue;
    /* padding-left: 50px; */
    text-align: center;
}
.main-4-container .laptop {
    width: 100%;
}
.expands {
    width: 95%;
}
.main-4-img-cont {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}
.main-4-container > a {
    color: gray;
}
.main5 {
    /* border: 1px solid red; */
    /* height: 200px; */
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 60px;
}
.main-5-container {
    text-align: center;
    width: 59%;
    border-radius: 10px;
    /* border: 1px solid blue; */
    background-color: #162341;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}
.main-5-container h1 {
    font-size: 45px;
    font-weight: 500;
    /* padding-left: 50px; */
    text-align: center;
}
.main-5-container h2 {
    font-weight: 500;
    padding: 0px 180px;
    margin-top: 10px;
    line-height: 1.4;
    font-size: 23px;
}
.main-5-container h2 span {
    color: #ffcc00;
}
.main-5-grid {
    /* border: 1px solid red; */
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
    text-align: start;
    margin-top: 20px;
}
.main-5-item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    border-radius: 18px;
    font-size: 20px;
    /* width: 20px; */
    border: 3px solid white;
}
.main-5grid2 {
    padding: 0px 100px;
    margin-top: 40px;
    display: grid;
    row-gap: 40px;
}
.message {
    height: 120px;
    align-items: start;
    padding: 20px;
}
.cont3-2 {
    display: flex;
    justify-content: start;
    padding: 0px 100px;
    margin-top: 40px;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 40px ;
   /* justify-content: center; */
}
.cont3-2 span {
    color: #ffcc00;
}
.main6 {
    /* border: 1px solid red; */
    /* height: 200px; */
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 60px;
}
.main-6-container {
    text-align: center;
    width: 59%;
    border-radius: 10px;
    /* border: 1px solid blue; */
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    color: blue;
}
.main-6-container h1 {
    font-size: 45px;
    /* font-weight: 500; */
    /* padding-left: 50px; */
    text-align: center;
}
.main-6-grid {
    /* border: 1px solid red; */
    padding: 0px 15px;
    /* justify-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* row-gap: 40px; */
    column-gap: 10px;
    /* text-align: start; */
    margin-top: 20px;
}
.main-6-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 20px; */
    /* height: 50px; */
    /* border-radius: 18px; */
    /* font-size: 20px; */
    width: 100%;
    /* border: 1px solid green; */
}
.main-6-item img {
    width: 100%;
}
footer {
    height: 200px;
    width: 100%;
    background-color: #eaeaea;
    /* border: 1px solid red; */
    display: flex;
}
.footer-left {
    width: 65%;
    /* border: 1px solid blue; */
    text-align: center;
    padding: 10px 20px;
}
.footer-right {
    width:35%;
    /* border: 1px solid blue; */
    padding: 10px 30px;
    padding-top: 20px;
}
.footer-left p {
    color: gray;
}
.footer-left div {
    margin-top: 20px;
    color: blue;
}
.footer-right h1{
    color: #2b2b2b;
    font-weight: 200;
}
.footer-right div {
    border: 2px solid #2b2b2b;
    margin-top: 20px;
    background-color: white;
    padding: 10px 15px;
    color: #575757;
}
.footer-right button {
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    background: linear-gradient(to right, #019adb, #124ec7);
    padding: 10px 15px;
    color: white;
}
